* {
	box-sizing: border-box;
  }

body {
	display: block;

	margin: 0;
	height: 99vh;
	max-height: 99vh;
}

#containers {
	display: flex;

	position: relative;
	padding: 0;
	height: 50%;
	width: 90%;
	margin: 0 auto;
	top: 5%;

}

.container {
	position: relative;
	padding: 0;
	height: 50%;
	margin: 0 auto 0;
	background-color: rgb(60, 160, 218);

  }
.full-height {
	height: 89vh;
	width: 30%;
	background-color: white;

}

  #merge-box {
	position: relative;
	padding: 0;
	height: 50%;
	width: 100%;
	margin: 0 auto;
	background-color: chartreuse;
	z-index: -1;
  }


  .draggable {
	background: #F90;
	margin: 0;
	float: left;
	position: absolute ;
	z-index: 100;
  }
  .draggable.is-pointer-down {
	background: #09F;
	z-index: 102; /* above other draggies */
  }
  .draggable.is-dragging { opacity: 0.7; }
  